/*


    font-family: 'Dancing Script', cursive;

    font-family: 'Poiret One', cursive;

    font-family: 'Satisfy', cursive;

    font-family: 'Courgette', cursive;


 */

a, h1, p {
    font-family: 'Poiret One', cursive;
}


body {
    background-image: url("css/imgs/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

.navbar, .bg-light{
    background-color: transparent !important;
}

.navbar-light a, .navbar-brand a{
    font-family: 'Satisfy', cursive;
    font-size: 1.6em;

    color: white !important;:
}
#page {
    background-color: white;
    margin-top: 40vh;
    min-height: 60vh;
}
.front-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;

}
.front-panel h1 {
    font-size: 1.5em;
    padding: 10px 0;
}

.front-post {
    200px;
    overflow: hidden;
}

.fade-out {
  position: relative;
  max-height: 200px; // change the height
}
.fade-out:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient( rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100% );
}