/*


    font-family: 'Dancing Script', cursive;

    font-family: 'Poiret One', cursive;

    font-family: 'Satisfy', cursive;

    font-family: 'Courgette', cursive;


 */

a, h1, p, ul, li  {
    font-family: 'Poiret One', cursive;
    font-size: 28px;
}

.navbar-brand {
    font-size: 32px;
}

p, a {
font-size: 24px
}


.front-post-title a {
    font-size: 30px;
}


body {
    background-image: url("css/imgs/back1.jpg");
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: -120px ;
    background-size: 100vw auto;
    background-color: #7a7d84;
    background-blend-mode: multiply;

}

.navbar, .bg-light{
    background-color: transparent !important;
}

.navbar-light a, .navbar-brand a{
    font-family: 'Satisfy', cursive;

    color: white !important;:
}

.navbar-nav {
    width: 40vw;
    display: flex;
    flex-direction: row;
}
#menu-top-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}


#menu-top-menu li {
    margin: 0 30px;
}

#menu-top-menu li:last-child {
    margin: 0 0 0 30px;
}
.sub-menu {
    display: none;
}

#page {
    background-color: white;
    margin-top: 40vh;
    min-height: 60vh;
    padding-bottom: 20px;


}
.front-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;


}

.front-post {
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.front-post h1 {
    padding-bottom: 20px;
}
.front-post img {
    width: 250px;
    height: 213px;
    padding-bottom: 20px;
}


.page-post {
    padding: 15px;
}

.page-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

.page-post {
    line-height: 2em;
}
